server:
  port: 8001

#mybatis配置
mybatis:
  type-aliases-package: com.feng.springcloud.pojo
  config-location: classpath:mybatis/mybatis-config.xml
  mapper-locations: classpath:mybatis/mapper/*.xml

#spring的配置
spring:
  application:
    name: springcloud-provider-dept
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: org.gjt.mm.mysql.Driver
    url: jdbc:mysql://localhost:3306/db01?serverTimezone=UTC&useUnicode=true&charactorEncoding=utf-8
    username: root
    password: root

#Eureka配置
eureka:
  client:
    service-url:
     defaultZone: http://127.0.0.1:7001/eureka/
